# CodeIgniter 4
/writable/*
!/writable/.gitkeep
!/writable/cache/.gitkeep
!/writable/logs/.gitkeep
!/writable/uploads/.gitkeep
!/writable/session/.gitkeep

# Environment
env
.env.*.local

# Composer
/vendor/
composer.lock

# Testing
/coverage/
